.hero-img {
  width: 100%;
  background-color: rgba(0, 0, 0, 0 0.5);
  height: 60vh;
  position: relative;
}
/* .hero-img::before {
  content: "";
  background-color: rgb(19, 19, 19, 0.8);

  background-size: cover;
  background-position: center top;
  height: 80%;
  width: 100%;
  top: 0;
  position: absolute;
  left: 0;
  z-index: -1;
} */
.hero-img h1 {
  font-size: 2.4rem;
}
.hero-img p {
  font-size: 1.5rem;
  text-align: center;
}

.heading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url(); */
}
@media screen and (max-width: 640px) {
  .hero-img h1 {
    font-size: 2rem;
  }
}
